<%- include("header", {title: title}); %>

<h1>Welcome to the bank</h1>

<p>What do you want to do?</p>

<ul>
    <li><a href="balance">View account balance</a></li>
    <li><a href="move-to-adam">Move money to Adam</a></li>
</ul>

<%- include("footer"); %>
