<%- include("header", {title: title}); %>

<h1>Moving 1.5 peng to Adam</h1>

<p>Adam says thanks and checks his balance.</p>

<ul>
    <li><a href="index">Index</a></li>
    <li><a href="balance">View account balance</a></li>
</ul>

<%- include("footer"); %>
